[submodule "pkgs/zenergy-dkms-git"]
	path = pkgs-stage-1/zenergy-dkms-git
	url = https://aur.archlinux.org/zenergy-dkms-git.git
[submodule "pkgs/mesa"]
	path = pkgs-stage-1/mesa
	url = https://gitlab.archlinux.org/archlinux/packaging/packages/mesa.git
[submodule "pkgs/lib32-mesa"]
	path = pkgs-stage-1/lib32-mesa
	url = https://gitlab.archlinux.org/archlinux/packaging/packages/lib32-mesa.git
[submodule "pkgs/gamescope-session-git"]
	path = pkgs-stage-1/gamescope-session-git
	url = https://aur.archlinux.org/gamescope-session-git.git
[submodule "pkgs/gamescope-session-steam-git"]
	path = pkgs-stage-2/gamescope-session-steam-git
	url = https://aur.archlinux.org/gamescope-session-steam-git.git
[submodule "pkgs-stage-1/steam_notif_daemon"]
	path = pkgs-stage-1/steam_notif_daemon
	url = https://aur.archlinux.org/steam_notif_daemon.git
[submodule "pkgs-stage-1/gamescope-git"]
	path = pkgs-stage-1/gamescope-git
	url = https://aur.archlinux.org/gamescope-git.git
[submodule "pkgs-stage-2/mesa-git"]
	path = pkgs-stage-2/mesa-git
	url = https://github.com/Frogging-Family/mesa-git.git
[submodule "pkgs-stage-3/gamescope-session-steam-plus-git"]
	path = pkgs-stage-3/gamescope-session-steam-plus-git
	url = https://aur.archlinux.org/gamescope-session-steam-plus-git.git
