[submodule "pkgs/zenergy-dkms-git"]
	path = pkgs/zenergy-dkms-git
	url = https://aur.archlinux.org/zenergy-dkms-git.git
[submodule "pkgs/mesa"]
	path = pkgs/mesa
	url = https://gitlab.archlinux.org/archlinux/packaging/packages/mesa.git
[submodule "pkgs/linux"]
	path = pkgs/linux
	url = https://gitlab.archlinux.org/archlinux/packaging/packages/linux.git
[submodule "pkgs/lib32-mesa"]
	path = pkgs/lib32-mesa
	url = https://gitlab.archlinux.org/archlinux/packaging/packages/lib32-mesa.git
[submodule "pkgs/pikaur"]
	path = pkgs/pikaur
	url = https://aur.archlinux.org/pikaur.git
[submodule "pkgs/gamescope-git"]
	path = pkgs/gamescope-git
	url = https://aur.archlinux.org/gamescope-git.git
