pkgbase = linux-chimeraos
	pkgdesc = Linux ChimeraOS
	pkgver = 6.8.rc2.chos1
	pkgrel = 1
	url = https://github.com/ChimeraOS/linux/commits/v6.8-rc2-chos1
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !strip
	source = linux-chimeraos.tar.gz::https://github.com/ChimeraOS/linux/archive/refs/tags/v6.8-rc2-chos1.tar.gz
	source = config
	source = config-chimera
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = A2FF3A36AAA56654109064AB19802F8B0D70FC30
	validpgpkeys = C7E7849466FE2358343588377258734B41C31549
	b2sums = fa0837f807e76a44e700842cc2971a16441467055e49b6870fdd1dbe9b977dd9de141a3b792129fc52fe8aa2d4cd2bc5a913ccdf2bb8175dad28ec17a534ffbe
	b2sums = SKIP
	b2sums = db8d60ad97ccc95bd3b50be3b074050ac29831c9fe95e4faeb15ba5e6dfe61c36ab32d401d14dd68547e57888fc4a3f31370396c25221e5158c41fdc439bbf92

pkgname = linux-chimeraos
	pkgdesc = The Linux ChimeraOS kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-chimeraos-headers
	pkgdesc = Headers and scripts for building modules for the Linux ChimeraOS kernel
	depends = pahole
