name: Build packages
on:
  push:
    branches: [ main ]
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
env:
 MARCH: generic
 IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}
 IMAGE_NAME: chimeraos-builder

permissions:
  contents: write
  pull-requests: write
  packages: write

jobs:
  list:
    name: Prepare
    runs-on: ubuntu-latest
    outputs:
      pkgs1: ${{ steps.set-pkgs.outputs.pkgs1 }}
      pkgs2: ${{ steps.set-pkgs.outputs.pkgs2 }}
      pkgs3: ${{ steps.set-pkgs.outputs.pkgs3 }}
      MARCH: ${{ steps.set-pkgs.outputs.MARCH }}
    steps:
      - uses: actions/checkout@v4
      - id: set-pkgs
        run: |
          echo "pkgs1=$(ls -d pkgs-stage-1/*/ | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT
          echo "pkgs2=$(ls -d pkgs-stage-2/*/ | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT
          echo "pkgs3=$(ls -d pkgs-stage-3/*/ | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT
          echo "MARCH=${{ env.MARCH }}" >> $GITHUB_OUTPUT
        shell: bash

  build-packages-stage1:
    needs:
     - list
    name: Stage 1
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.list.outputs.pkgs1) }}
    uses: ./.github/workflows/build-pkg.yaml
    with:
      package: ${{ matrix.package }}
      folder: 'pkgs-stage-1/'
      march: ${{ needs.list.outputs.MARCH }}


  build-packages-stage2:
    needs:
      - list
      - build-packages-stage1
    name: Stage 2
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.list.outputs.pkgs2) }}
    uses: ./.github/workflows/build-pkg.yaml
    with:
      package: ${{ matrix.package }}
      folder: 'pkgs-stage-2/'
      use-repo: true
      march: ${{ needs.list.outputs.MARCH }}

  build-packages-stage3:
    needs:
      - list
      - build-packages-stage2
    name: Stage 3
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.list.outputs.pkgs3) }}
    uses: ./.github/workflows/build-pkg.yaml
    with:
      package: ${{ matrix.package }}
      folder: 'pkgs-stage-3/'
      use-repo: true
      march: ${{ needs.list.outputs.MARCH }}
        
  build:
    needs:
      - build-packages-stage1
      - build-packages-stage2
      - build-packages-stage3
    if: github.event_name != 'pull_request'
    name: Build System
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download package artifact
        uses: actions/download-artifact@v4
        with:
          pattern: packages*
          merge-multiple: true
          path:
            repo/
      - name: Add epoch
        shell: bash
        run: |
            find repo/*.pkg.* -type f -name '*--*' -execdir bash -c 'mv "$1" "${1//--/:}"' bash {} \;

      # Workaround bug where capital letters in your GitHub username make it impossible to push to GHCR.
      # https://github.com/macbre/push-to-ghcr/issues/12
      - name: Lowercase Registry
        id: registry_case
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ env.IMAGE_REGISTRY }}

      # Build image using Buildah
      - name: Build Image
        id: build_image
        run:
          sudo buildah bud -f ./Containerfile -t ${{ steps.registry_case.outputs.lowercase }}/${{ env.IMAGE_NAME }} .
      # Push the image to GHCR (Image Registry)
      - name: Push To GHCR
        id: push
        if: github.event_name != 'pull_request'
        env:
          REGISTRY_USER: ${{ github.actor }}
          REGISTRY_PASSWORD: ${{ github.token }}
        run: |
          sudo buildah push --creds=${{ env.REGISTRY_USER }}:${{ env.REGISTRY_PASSWORD }} ${{ env.IMAGE_NAME }} ${{ steps.registry_case.outputs.lowercase }}/${{ env.IMAGE_NAME }}
