name: Build Builder - Main
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
env:
 MARCH: x86-64-v3

permissions:
  contents: write
  pull-requests: write
  packages: write

jobs:
  list:
    name: Prepare
    runs-on: ubuntu-latest
    outputs:
      pkgs1: ${{ steps.set-pkgs.outputs.pkgs1 }}
      pkgs2: ${{ steps.set-pkgs.outputs.pkgs2 }}
      pkgs3: ${{ steps.set-pkgs.outputs.pkgs3 }}
      # To use ENV's as inputs
      MARCH: ${{ steps.set-pkgs.outputs.MARCH }}
    steps:
      - uses: actions/checkout@v4
      - id: set-pkgs
        run: |
          echo "pkgs1=$(ls -d pkgs-stage-1/*/ | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT
          echo "pkgs2=$(ls -d pkgs-stage-2/*/ | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT
          echo "pkgs3=$(ls -d pkgs-stage-3/*/ | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT
          echo "MARCH=${{ env.MARCH }}" >> $GITHUB_OUTPUT
        shell: bash

  build-packages-stage1:
    needs:
     - list
    name: Stage 1
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.list.outputs.pkgs1) }}
    uses: ./.github/workflows/build-pkg.yaml
    with:
      package: ${{ matrix.package }}
      folder: 'pkgs-stage-1/'
      march: ${{ needs.list.outputs.MARCH }}


  build-packages-stage2:
    needs:
      - list
      - build-packages-stage1
    name: Stage 2
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.list.outputs.pkgs2) }}
    uses: ./.github/workflows/build-pkg.yaml
    with:
      package: ${{ matrix.package }}
      folder: 'pkgs-stage-2/'
      use-repo: true
      march: ${{ needs.list.outputs.MARCH }}

  build-packages-stage3:
    needs:
      - list
      - build-packages-stage2
    name: Stage 3
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.list.outputs.pkgs3) }}
    uses: ./.github/workflows/build-pkg.yaml
    with:
      package: ${{ matrix.package }}
      folder: 'pkgs-stage-3/'
      use-repo: true
      march: ${{ needs.list.outputs.MARCH }}
        
  build:
    needs:
    - build-packages-stage1
    - build-packages-stage2
    - build-packages-stage3
    if: github.event_name != 'pull_request'
    uses: ./.github/workflows/build-builder.yaml