name: Build Builder - Stable
on:
  push:
    branches:
      - 'stable-[0-9]+'
    tags:
      - 'v[0-9]+(-[0-9]+)'
env:
 MARCH: generic
 REGISTRY: ghcr.io
 IMAGE_NAME: ${{ github.repository_owner }}/chimeraos-builder
 ARCHIVE_DATE: $(date -d 'yesterday' +%Y/%m/%d) #e.g. 2024/04/31

permissions:
  contents: write
  pull-requests: write
  packages: write

jobs:
  list:
    name: Prepare
    runs-on: ubuntu-latest
    outputs:
      pkgs1: ${{ steps.set-pkgs.outputs.pkgs1 }}
      pkgs2: ${{ steps.set-pkgs.outputs.pkgs2 }}
      pkgs3: ${{ steps.set-pkgs.outputs.pkgs3 }}
      # To use ENV's as inputs
      MARCH: ${{ steps.set-pkgs.outputs.MARCH }}
      ARCHIVE_DATE: ${{ steps.set-pkgs.outputs.ARCHIVE_DATE }}
    steps:
      - uses: actions/checkout@v4
      - id: set-pkgs
        run: |
          echo "pkgs1=$(ls -d pkgs-stage-1/*/ | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT
          echo "pkgs2=$(ls -d pkgs-stage-2/*/ | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT
          echo "pkgs3=$(ls -d pkgs-stage-3/*/ | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT
          echo "MARCH=${{ env.MARCH }}" >> $GITHUB_OUTPUT
          echo "ARCHIVE_DATE=${{ env.ARCHIVE_DATE }}" >> $GITHUB_OUTPUT
        shell: bash

  build-packages-stage1:
    needs:
     - list
    name: Stage 1
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.list.outputs.pkgs1) }}
    uses: ./.github/workflows/build-pkg.yaml
    with:
      package: ${{ matrix.package }}
      folder: 'pkgs-stage-1/'
      march: ${{ needs.list.outputs.MARCH }}
      archive_date: ${{ needs.list.outputs.ARCHIVE_DATE }}


  build-packages-stage2:
    needs:
      - list
      - build-packages-stage1
    name: Stage 2
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.list.outputs.pkgs2) }}
    uses: ./.github/workflows/build-pkg.yaml
    with:
      package: ${{ matrix.package }}
      folder: 'pkgs-stage-2/'
      use-repo: true
      march: ${{ needs.list.outputs.MARCH }}
      archive_date: ${{ needs.list.outputs.ARCHIVE_DATE }}

  build-packages-stage3:
    needs:
      - list
      - build-packages-stage2
    name: Stage 3
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.list.outputs.pkgs3) }}
    uses: ./.github/workflows/build-pkg.yaml
    with:
      package: ${{ matrix.package }}
      folder: 'pkgs-stage-3/'
      use-repo: true
      march: ${{ needs.list.outputs.MARCH }}
      archive_date: ${{ needs.list.outputs.ARCHIVE_DATE }}

  build:
    needs:
      - build-packages-stage1
      - build-packages-stage2
      - build-packages-stage3
    if: github.event_name != 'pull_request'
    name: Build System
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download package artifact
        uses: actions/download-artifact@v4
        with:
          pattern: packages*
          merge-multiple: true
          path:
            repo/
      - name: Add epoch
        shell: bash
        run: |
            find repo/*.pkg.* -type f -name '*--*' -execdir bash -c 'mv "$1" "${1//--/:}"' bash {} \;

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            ARCHIVE_DATE=${{ env.ARCHIVE_DATE }}